<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="brython.js"></script>
    <script type="text/javascript" src="brython_stdlib.js"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
#drop_zone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold;
  color: #bbb;
}
</style>

    <title>Duck Duck Beaver - Species Image Identification</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top" onload="brython(1)">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">DUCKDUCKBEAVER</span>
        <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#demo">Demo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
        </ul>
    </div>
    </nav>

  <!-- Header Section -->
  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="home">
      <div class="w-100">
        <h1 class="mb-0">Duck Duck
          <span class="text-primary">BEAVER</span>
        </h1>
        <div class="subheading mb-5"> Species Image Detection
        </div>
      </div>
    </section>
      
  <!-- Demo Section -->
    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="demo">
      <div class="w-100">
        <h3 class="mb-0">Try It</h3>
        <div class="lead mb-5">Is there a beaver in your picture? To find out, upload a jpg image.
            <div class="container mt-3">
                <div id="drop_zone">Drop files here</div>
                <output id="list"></output>
                <div id="prediction"></div>
                <input id="url" />
                <button id="predict">predict</button>
            </div>
        </div>
      </div>
    </section>

  <!-- Authorship Section -->
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <div class="lead mb-5"> To learn more about this project, 
            <a href="https://github.com/nkacoroski/beaver_image_detector">
                check it out on GitHub.
            </a> To learn more about me, see below.
        </div>
        <img class="mx-auto rounded-circle" src="/static/img/profile.jpg" alt="">
        <h3 class="mb-0">Natasha Kacoroski</h3>
        <div class="subheading mb-5">Data Scientist
        </div>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/natashakacoroski/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/nkacoroski">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.facebook.com/natasha.kacoroski">
            <i class="fab fa-facebook-f"></i>
          </a>
            <p></p>
            <p class="lead mb-5">Copyright &copy; DuckDuckBeaver 2019</p>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
        <script type="text/python3">
from browser import document, window, bind, html, ajax
import json

Date = window.Date.new

@bind("#drop_zone", "drop")
def handleFileSelect(evt):
    evt.stopPropagation()
    evt.preventDefault()

    files = evt.dataTransfer.files # FileList object.
    
    # files is a FileList of File objects. List some properties.
    output = []
    _ul = html.UL()
    for f in files:
        last_mod = Date(f.lastModified) if f.lastModified else "n/a"
        _ul <= html.LI(f'{f.name}({f.type or "n/a"}) - {f.size} bytes, ' +
            f'last modified: {last_mod.toDateString()}')

    document['list'] <= _ul
    
@bind("#predict", "click")
def send_url(event):
    req = ajax.ajax()
    req.bind('complete', show_results)
    req.open('POST', '/predict', True)
    req.set_header('content-type','application/json')
    data = {'url': document['url'].value}
    req.send(json.dumps(data))

def show_results(response):
    if response.status == 200:
        filename = response.text
        document['prediction'].html = f'<img src="/output/{filename}" />'
    else:
        document['prediction'].html = response.text

@bind("#drop_zone", "dragover")
def handleDragOver(evt):
    evt.stopPropagation()
    evt.preventDefault()
    evt.dataTransfer.dropEffect = 'copy' # Explicitly show this is a copy.
        </script>
      
    </div>
</body>
    
</html>
